{{ define "main" }}
{{ partial "banner.html" . }}
<main class="px-4 py-8">
    <div class="max-w-3xl mx-auto">
        <h2 class="text-xl  font-bold text-green-400 mb-6">Latest Articles</h2>
        {{ range first 3 (where .Site.RegularPages "Type" "article") }}
            <a href="{{ .Permalink }}" class="block mb-6 transition-all duration-300 ease-in-out transform hover:scale-105">
                <div class="bg-gray-800  rounded-lg shadow-lg overflow-hidden border border-gray-700">
                    <div class="p-6">
                        <h3 class="text-xl font-semibold text-white mb-2">{{ .Title }}</h3>
                        <p class="text-green-400 text-sm mb-3">{{ .Date.Format "January 2, 2006" }}</p>
                        {{/*  <p class="text-gray-300 mb-4">{{ .Params.desc }}</p>  */}}
                        <div class="flex items-center text-blue-400">
                            Read
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        {{ end }}
    <a class="underline  text-blue-400 px-4 border border-blue-600 py-2 " href="/posts">All Posts</a>
    </div>
</main>
{{ end }}