{{ define "main" }}
<main class="px-4 py-8 w-1/2 mx-auto max-lg:w-fit">
    <article class="prose prose-neutral mb-36 max-md:mb-24   prose-xl dark:prose-invert">
        <header class="mb-4">
            <h1 class="text-3xl font-bold max-md:text-lg">{{ .Title }}</h1>
            {{/* <p>{{ .Date.Format "January 2, 2006" }}</p> */}}
            {{ if and (.Date) (not .Params.hideDate) }}
            <p class="text-gray-500" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "January 2, 2006" }}
            </p>
            {{ end }}
        </header>
        <div class="max-md:text-lg">
            {{ .Content }}
        </div>
    </article>
    {{ partial "disqus.html"}}
</main>
{{ end }}